{% with messages= get_flashed_messages() %}
{% if messages%}
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
{% endif %}
{% endwith%}
<form action="/add_contact" method="POST">

    <input type= "text" name="social" placeholder="social" >
    <input type= "text" name="usuario" placeholder="usuario" >
    <input type= "text" name="contraseña" placeholder="contraseña" >

    <button type="submit">
        Save
    </button>


</form>

<table>
    <thead>
        <tr>
            <td>Social</td>
            <td>Usuario</td>
            <td>Contraseña</td>
            <td>Operaciones</td>
        </tr>
    </thead>
    <tbody>
        {% for datos in contraseñas %}
        <tr>
            <td>{{datos.1}}</td>
            <td>{{datos.2}}</td>
            <td>{{datos.3}}</td>
            <td>
                
                <!-- <a href="/ver/{{datos.0}}">Ver</a> -->
                <a href="/edit/{{datos.0}}">Edit</a>
                <a href="/delete/{{datos.0}}">Delete</a>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>